@keyframes slide-down {
    0% {
        bottom: 100%;
    }

    100% {
        bottom: 0;
    }
}

.slide-overlay-top-bottom {
    text-align: center;
    position: relative;
    animation: slide-down 1s 1 forwards;
    height: 100vh;
    overflow: hidden;
}

.project-overview {
    transition: 0.8s;
    border-radius: 10px;
    background: #456268;
}

.animate-fading {
    animation: fading 2s forwards;
}

.left-arrow-btn {
    position: absolute;
    top: 50%;
    left: -5%;
    transform: translate(0%, -50%);
    -ms-transform: translate(-0%, -50%)
}

.right-arrow-btn {
    position: absolute;
    top: 50%;
    right: -5%;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%)
}

.nav-with-bg {
    background: transparent;
}

@keyframes fading {
    0% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 1
    }
}

@media only screen and (min-width: 700px) and (max-width: 1200px) {
    .work-dec {
        position: static !important;
    }

    .work-detail {
        order: 1;
    }

    .work-page {
        overflow-y: scroll;
    }

}

@media only screen and (max-width: 700px) {
    .work-dec {
        position: static !important;
        margin-top: 60px;
    }

    .work-detail {
        order: 1;
        padding-bottom: 20px;
    }

    .work-page {
        overflow-y: scroll;
    }

    .nav-with-bg {
        transition: background-color 1s ease-in-out;
        background-color: #456268;
        opacity: 0.9;
    }

    .text-dark-hover:hover {
        color: #282c34 !important;
    }
}
